---
variant: flatcar
version: 1.1.0

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOpw3cIAdtWOYUkb6UOAIcLuRzItoo4oZMzr/hzZYq4E openpgp:0xFAAA0172

storage:
  directories:
    - path: /opt/caddy/etc/caddy
    - path: /opt/caddy/data
  files:
    # /etc/hostname
    - path: /etc/hostname
      contents:
        inline: "akpella.fst.ee"
    # /etc/hosts
    - path: /etc/hosts
      overwrite: true
      contents:
        local: etc/hosts
    # /etc/systemd/network/00-eth0.network
    - path: /etc/systemd/network/00-eth0.network
      contents:
        local: etc/systemd/network/00-eth0.network
    # /etc/flatcar/enabled-sysext.conf
    - path: /etc/flatcar/enabled-sysext.conf
      contents:
        inline: |
          podman
          python
    # /etc/containers/policy.json
    - path: /etc/containers/policy.json
      contents:
        local: etc/containers/policy.json
    # /etc/containers/systemd/caddy.container
    - path: /etc/containers/systemd/caddy.container
      contents:
        local: etc/containers/systemd/caddy.container
    # /opt/caddy/etc/caddy/Caddyfile
    - path: /opt/caddy/etc/caddy/Caddyfile
      contents:
        local: caddy/Caddyfile
    # /opt/caddy/var/www/html/index.html
    - path: /opt/caddy/var/www/html/index.html
      contents:
        inline: |
          <h1>no</h1>

systemd:
  units:
    - name: caddy.service
      enabled: true
