---
variant: flatcar
version: 1.0.0

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOpw3cIAdtWOYUkb6UOAIcLuRzItoo4oZMzr/hzZYq4E openpgp:0xFAAA0172

storage:
  files:
    # hostname
    - path: /etc/hostname
      contents:
        inline: "akpella.lan"
    # network
    - path: /etc/systemd/network/00-eth0.network
      contents:
        inline: |
          [Match]
          Name=eth0

          [Network]
          DNS=1.1.1.1
          Address=193.40.103.107/24
          Gateway=193.40.103.1
    - path: /etc/hosts
      overwrite: true
      contents:
        inline: |
          127.0.0.1       localhost akpella.lan
          ::1             localhost akpella.lan

systemd:
  units:
    - name: systemd-sysupdate.timer
      enabled: true
    - name: matrixdotorg-synapse.service
      enabled: true
      contents: |
        [Unit]
        Description=Synapse: Matrix homeserver written in Python/Twisted + Rust
        After=docker.service
        Requires=docker.service

        [Service]
        ExecStartPre=/usr/bin/docker run \
          --name=matrixdotorg-synapse \
          --rm \
          --mount type=volume,src=synapse-data,dst=/data \
          -e SYNAPSE_SERVER_NAME=matrix.fst.ee \
          -e SYNAPSE_REPORT_STATS=yes \
          matrixdotorg/synapse:latest generate
        ExecStart=docker run \
          --name=matrixdotorg-synapse \
          --mount type=volume,src=synapse-data,dst=/data \
          matrixdotorg/synapse:latest

        [Install]
        WantedBy=multi-user.target
