---
variant: flatcar
version: 1.1.0

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOpw3cIAdtWOYUkb6UOAIcLuRzItoo4oZMzr/hzZYq4E openpgp:0xFAAA0172
    - name: matrixdotorg-synapse
      home_dir: /opt/matrixdotorg-synapse
    - name: caddy
      home_dir: /opt/caddy

storage:
  directories:
    - path: /opt/caddy/data
    - path: /opt/caddy/etc/caddy
    - path: /opt/caddy/var/www/html
    - path: /opt/matrixdotorg-synapse/data
    - path: /home/core/matrixdotorg-matrix-appservice-irc/data
  files:
    # hostname
    - path: /etc/hostname
      contents:
        inline: "akpella.fst.ee"
    # network
    - path: /etc/systemd/network/00-eth0.network
      contents:
        local: etc/systemd/network/00-eth0.network
    - path: /etc/hosts
      overwrite: true
      contents:
        local: etc/hosts
    - path: /opt/caddy/etc/caddy/Caddyfile
      overwrite: true
      contents:
        local: opt/caddy/etc/caddy/Caddyfile
    - path: /opt/caddy/var/www/html/index.html
      overwrite: true
      contents:
        inline: |
          <h1>no</h1>

systemd:
  units:
    - name: docker-network-setup.service
      enabled: true
      contents_local: docker-network-setup.service
    - name: docker-matrixdotorg-synapse.service
      enabled: true
      contents_local: docker-matrixdotorg-synapse.service
    - name: docker-caddy.service
      enabled: true
      contents_local: docker-caddy.service
    - name: docker-matrixdotorg-matrix-appservice-irc.service
      enabled: false
      contents_local: docker-matrixdotorg-matrix-appservice-irc.service
