[Unit]
Description=Create docker networks
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker network create caddy-network
ExecStart=/usr/bin/docker network create postgresql-network

[Install]
WantedBy=multi-user.target
